<div class="px-8">
    <div class="flex flex-row h-[calc(100vh-07rem)] pb-8">
        <!-- new wheel button -->
        <button onclick="showModal()" class='flex items-center border border-gray-700 justify-center w-1/3 h-1/4 m-4 p-4 btn-text hover:ring-2 hover:ring-blue-500 focus:ring-2 focus:ring-blue-500'>
            <img src="/images/icons/add.svg" class="w-4 mr-2 fill-current" alt="Create">
            New Wheel
        </button>

        <div class="w-2/3 m-4 border border-gray-700 overflow-hidden overflow-y-auto">
            <!-- check if wheel is empty -->
            <% if @wheels.empty? %>
                <div class="h-min m-8 p-8">
                    <p>Make a new wheel to get started!</p>
                </div>
            <% else %>
                <!-- show user's wheels -->
                <% @wheels.each do |wheel| %>
                    <%= link_to wheel_path(wheel), class: 'btn-text h-min flex flex-row items-center justify-between border border-gray-700 p-4 m-4 hover:ring-2 hover:ring-blue-500 focus:ring-2 focus:ring-blue-500' do %>
                            <h3 class="pb-0"><%= wheel.title %></h3>
                            <div class="flex flex-row gap-2">
                                <p>Last updated </p>
                                <p><%= wheel.updated_at.strftime("%m %d %Y") %></p>
                            </div>
                            
                    <% end %>
                <% end %>
            <% end %>
        </div>

        <!-- The new wheel modal -->
        <div id="modal" class="hidden fixed inset-0 bg-gray-600 bg-opacity-50 flex justify-center items-center">
            <div class="bg-white shadow-lg p-6 w-1/3">
                <div class="flex justify-between">
                    <h2 class="text-2xl font-bold mb-4">Give your wheel a name</h2>
                    <button id="closeBtn" class="btn-text">
                        <img src="/images/icons/close.svg" class="w-6 fill-current" alt="Close">
                    </button>
                </div>
                <form action="/wheels" method="post" class="flex items-center">
                    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
                    <input id="participantInput" type="text" name="wheel[title]" class="" placeholder="My Wheel">
                    <button id="addParticipantBtn" class="btn-text px-4">
                        <img src="/images/icons/right.svg" class="w-8 fill-current" alt="Save and continue">
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    function showModal() {
        var modal = document.getElementById("modal");
        modal.classList.remove("hidden");

        document.getElementById("closeBtn").onclick = function() {
            modal.classList.add("hidden");
        };
    }
</script>

