@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-off-white futura-medium text-dark-gray;
  }
  h1 {
    @apply text-3xl pb-4;
  }
  h2 {
    @apply text-xl pb-3;
  }
  h3 {
    @apply font-bold pb-3;
  }
  a {
    @apply text-yellow-500 underline hover:text-yellow-800;
  }
  input[type="text"],
  input[type="email"],
  input[type="password"] {
    @apply w-full bg-off-white border-off-white border-b-light-gray focus:border-blue-500 focus:ring-0;
  }
}

@layer components {
  .futura-medium {
    font-family: "Futura", sans-serif;
    src: url("/assets/fonts/Futura-Medium.ttf") format("truetype");
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
  .futura-bold {
    font-family: "Futura", sans-serif;
    src: url("/assets/fonts/Futura-Bold.ttf") format("truetype");
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
  }
  .btn-primary {
    @apply text-center bg-yellow-500 px-4 py-2 cursor-pointer hover:bg-yellow-800 focus:bg-yellow-800;
  }
  .btn-text {
    @apply flex no-underline align-middle text-center text-light-gray cursor-pointer hover:text-dark-gray;
  }
  .btn-secondary {
    @apply border border-yellow-500 text-dark-gray no-underline px-4 py-2 cursor-pointer hover:bg-yellow-800 focus:bg-dark-gray;
  }
  .btn-3d {
    @apply w-40 h-16 mb-10 bg-blue-500 text-off-white rounded-lg cursor-pointer select-none [box-shadow:0_10px_0_0_#1b6ff8,0_15px_0_0_#1b70f841] border-b-[1px] border-blue-400
    transition-all duration-150
    active:translate-y-2 active:[box-shadow:0_0px_0_0_#1b6ff8,0_0px_0_0_#1b70f841] active:border-b-[0px];
  }
  .alert {
    @apply p-4 flex items-center;
  }
  .alert-success {
    @apply bg-blue-200;
  }
  .alert-danger {
    @apply bg-yellow-200;
  }
  .field {
    @apply pb-3;
  }
  .active-tab {
    @apply border border-off-white border-b-yellow-500 px-4 py-2 cursor-pointer;
  }
  .inactive-tab {
    @apply px-4 py-2 cursor-pointer;
  }
}
